*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.center__display{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containers .top{
    position: relative;
    border-bottom: solid 1px #eee;
}

.section-watch-movie .player .like__count{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffadad;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-bottom-right-radius: 20px;
    color: white;
}

.player{
    position: relative;
}

.like__count small{
    font-size: 20px;
    margin: 5px;
}

.top{
    width: 90%;
}

.top form{
    display: grid;
    width: 100%;
    height: 80px;
    grid-template-columns: 5% 80% 15%;
}

.form__info input{
    border: none;
    background: transparent;
    border-bottom: solid 1px #ccc;
    width: 70%;
    font-size: 18px;
    margin-bottom: 10px;
    outline: none;
}

.form__info input::placeholder{
    color: #ddd ;
}

.top .heart__icon{
    color: #ffadad;
    font-size: 30px;
    cursor: pointer;
}

.top button{
    background: #48cae4;
    height: 50%;
    border: none;
    outline: none;
    color: white;
    transform: translateY(50%); /*อันนี้ดี*/
    margin-right: 10px;
    cursor: pointer;

}

/*COMMENT */

.comments__containers{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.comment__card{
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 10% auto;
    margin: 0.5rem;
    border-bottom: solid 1px #eee;
}

.comment__card .pic{
    background-color: #48cae4;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10%;
    margin-top: 0;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}

.comment__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment__info .nickname{
    color: #aaa;
}
.comment__info .comment{
    color: white;
}

.comment__info .comment__bottom{
    display: flex;
    margin-bottom: 1rem;
}

.comment__bottom .heart__icon--comment{
    font-size: 20px;
    margin-right: 20px;
    color: #eee;
}

/* Add with JS */
.heart__icon--comment .fas.fa-heart{
    color: #ffadad;
}
.comment__bottom button{
    border: none;
    background: transparent;
    color: #aaa;
    text-transform: uppercase;
    cursor: pointer;
}