<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAPPA Movie
    </title>
    <link rel="stylesheet" href="{% static 'homePage.css' %}">
    <link rel="stylesheet" href="{% static 'searchNav.css' %}">
    <script src="https://kit.fontawesome.com/4ad4434805.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Top Navbar -->
    <div class="container-top">
        <nav class="navbar-kappa-start">
            <a class="navbar-brand" href="/">
                <img src="https://cdn-icons-png.flaticon.com/512/7116/7116945.png" style="width: 92px; height: 92px;">
            </a>
            <!-- search Nav -->                                                   
            <form action="{% url 'searchMovie' %}" method="post">
                {% csrf_token %}
                <div class="search-box">
                    <div class="row">
                        <input type="search" id="search-item" placeholder="search anything" aria-label="search" name="searched">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
            </form>
            <div class="navbar-collapse" id="navbar-collapse">
                <ul class="navbar-li">
                    <li><a href="{% url 'member' %}">log-in/log-out</a></li>
                </ul>
                <ul class="navbar-li">
                    <li><a href="{% url 'logout' %}">logOut</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-menu">
        <nav class="navbar-kappa-menu">
            <ul class="navbar-menu-li">
                <a href=""><li>Home</li></a>
                <!-- <a href="list.html"><li>Series</li></a> -->
                <li class="dropdown-link"><a href="">Category</a>
                    <ul class="dropdown">
                        <!-- add category from backEnd -->
                        {% for category in categories %}
                            <li><a href="{% url 'searchCategory' category.id %}">{{category.name}}</a></li>
                        {% endfor %}
                        <!-- <li><a href="">aaaaa</a></li> -->
                    </ul>
                </li>
                <!-- <a href="list.html"><li>Anime</li></a> -->
                <!-- <a href="list.html"><li>List</li></a> -->
            </ul>
        </nav>
    </div>

<!-- Promote Movie -->
    <div class="picture-promote">
    </div>
    <div class="picture-promote-content">
        <a href="#">
            <h1>THE FLASH</h1>
        </a>
    </div>

    <div class="title-popular">
        <h3>Popular Movies</h3>
    </div>
    <section class="section-movie">
        {% for pop in popular%}
            <div class="section-movie-popular">
                <div class="movie-picture-popular">
                    <img src="{{pop.image.url}}" alt="">
                </div>
                <div class="movie-content">
                    <a href="{%url 'player_detail' pop.id%}">
                        <h1>{{pop.name}}</h1>
                    </a>
                </div>
            </div>
        {% endfor%}
        
    </section>

    <!-- Action -->
    {% for webblog in webblogs1|slice:":1" %}
    <div class="title-category">
        <p>Action</p>
        <p><a href="{% url 'searchCategory' webblog.category_id %}">all</a></p>
    </div>
    <section class="section-category">
        <div class="section-movie-category">
            <!-- {% for webblog in webblogs1 %} -->
            <div class="movie-picture-category">
                <img src="{{webblog.image.url}}" alt="{{webblog.name}}">
                <div class="movie-content-category">
                    <a href="{%url 'player_detail' webblog.id%}">
                        <h4>{{webblog.name}}</h4>
                    </a>
                </div>
            </div>
            <!-- {% endfor %} -->
        </div>
    </section>
    {% endfor %}

    <!-- Anime -->
    {% for webblog in webblogs6|slice:":1"  %}
    <div class="title-category">
        <p>Anime</p>
        <p><a href="{% url 'searchCategory' webblog.category_id %}">all</a></p>
    </div>
    <section class="section-category">
        <div class="section-movie-category">
            <!-- {% for webblog in webblogs6 %} -->
            <div class="movie-picture-category">
                <img src="{{webblog.image.url}}" alt="{{webblog.name}}">
                <div class="movie-content-category">
                    <a href="{%url 'player_detail' webblog.id%}">
                        <h4>{{webblog.name}}</h4>
                    </a>
                </div>
            </div>
            <!-- {% endfor %} -->
        </div>
    </section>
    {% endfor %}

    <!-- Drama -->
    {% for webblog in webblogs2|slice:":1" %}
    <div class="title-category">
        <p>Drama</p>
        <p><a href="{% url 'searchCategory' webblog.category_id %}">all</a></p>
    </div>
    <section class="section-category">
        <div class="section-movie-category">
            <!-- {% for webblog in webblogs2 %} -->
            <div class="movie-picture-category">
                <img src="{{webblog.image.url}}" alt="{{webblog.name}}">
                <div class="movie-content-category">
                    <a href="{%url 'player_detail' webblog.id%}">
                        <h4>{{webblog.name}}</h4>
                    </a>
                </div>
            </div>
            <!-- {% endfor %} -->
        </div>
    </section>
    {% endfor %}

    <!-- navbar-End -->
    <div class="container-bottom">
        <nav class="navbar-kappa-End">
            <div class="contrack">
                
            </div>
            <a class="navbar-brand" href="{%static 'homePage.html' %}"></a>
                <img src="https://cdn-icons-png.flaticon.com/512/7116/7116945.png" style="width: 194px; height: 194px;">
        </nav>
    </div>
    <script src="{% static 'homePage.js' %}"></script>
</body>
</html>