<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAPPA Movie
    </title>
    <link rel="stylesheet" href="{% static '/homePage.css' %}">
</head>
<body>
    <div class="container-top">
        <nav class="navbar-kappa-start">
            <a class="navbar-brand" href="{%static 'homePage.html' %}">
                <img src="https://cdn-icons-png.flaticon.com/512/7116/7116945.png" style="width: 92px; height: 92px;">
            </a>                                                   
            <div class="search">
                <h1>search</h1>
                <button class="search-icon" type="button">search</button>
            </div>
            <div class="navbar-collapse" id="navbar-collapse">
                <ul class="navbar-li">
                    <li><a href="{%static 'login.html' %}">log-in/Register</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-menu">
        <nav class="navbar-kappa-menu">
            <ul class="navbar-menu-li">
                <a href="homePage.html"><li>Home</li></a>
                <a href="list.html"><li>Series</li></a>
                <li class="dropdown-link"><a href="">Category</a>
                    <ul class="dropdown">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Drama</a></li>
                        <li><a href="#">Romance</a></li>
                    </ul>
                </li>
                <a href="list.html"><li>Anime</li></a>
                <a href="list.html"><li>List</li></a>
            </ul>
        </nav>
    </div>

    <div class="picture-promote">
    </div>
    <div class="picture-promote-content">
        <a href="#">
            <h1>THE FLASH</h1>
        </a>
    </div>

    <div class="title-popular">
        <h3>Popular Movies</h3>
    </div>
    <section class="section-movie">
        <div class="section-movie-popular">
            <div class="movie-picture-popular"></div>
            <div class="movie-content">
                <a href="{%static 'showPlay.html' %}">
                    <h1>Transformer</h1>
                </a>
            </div>
        </div>
        <div class="section-movie-popular">
            <div class="movie-picture-popular"></div>
            <div class="movie-content">
                <a href="#">
                    <h1>Transformer</h1>
                </a>
            </div>
        </div>
        <div class="section-movie-popular">
            <div class="movie-picture-popular"></div>
            <div class="movie-content">
                <a href="#">
                    <h1>Transformer</h1>
                </a>
            </div>
        </div>
    </section>

    <div class="title-category">
        <p>Super Hero</p>
        <p><a href="#">all</a></p>
    </div>
    <section class="section-category">
        <div class="section-movie-category">
            <div class="movie-picture-category"></div>
            <div class="movie-content-category">
                <a href="#">
                    <h4>Iron Man3</h4>
                </a>
            </div>
        </div>
        <div class="section-movie-category">
            <div class="movie-picture-category"></div>
            <div class="movie-content-category">
                <a href="#">
                    <h4>Iron Man3</h4>
                </a>
            </div>
        </div>
        <div class="section-movie-category">
            <div class="movie-picture-category"></div>
            <div class="movie-content-category">
                <a href="#">
                    <h4>Iron Man3</h4>
                </a>
            </div>
        </div>
        <div class="section-movie-category">
            <div class="movie-picture-category"></div>
            <div class="movie-content-category">
                <a href="#">
                    <h4>Iron Man3</h4>
                </a>
            </div>
        </div>
    </section>

    <!-- navbar-End -->
    <div class="container-bottom">
        <nav class="navbar-kappa-End">
            <div class="contrack">
                
            </div>
            <a class="navbar-brand" href="{%static 'homePage.html' %}"></a>
                <img src="https://cdn-icons-png.flaticon.com/512/7116/7116945.png" style="width: 194px; height: 194px;">
        </nav>
    </div>
</body>
</html>