{% extends "frontEnd/layout.html" %}

{% load humanize %}
{%load static%}
{% block content %}


    <!-- movie list title -->
    {% for list in movieList|slice:":1"  %}
    <div class="head">
        <h1>| {{list.category}}</h1>
    </div>
    </div>
    <section class="section-category">
        <div class="section-movie-category">
            <!-- {% for list in movieList %} -->
            <div class="movie-picture-category">
                <img src="{{list.image.url}}" alt="{{list.name}}">
                <div class="movie-content-category">
                    <a href="{%url 'player_detail' list.id%}">
                        <h4>{{list.name}}</h4>
                    </a>
                </div>
            </div>
            <!-- {% endfor %} -->
        </div>
    </section>
    {% endfor %}
    
    <!-- pages number -->
    <div class="pages__number">
        <div class="pages__container">
            {% if movieList.paginator.num_pages >= 1%}
                {% for page_number in movieList.paginator.page_range%}
                    <div class="pages" id="number1"><a href="?page={{page_number}}">{{page_number}}</a></div>
                {% endfor%}
            {% endif%}
        </div>
    </div>


    <!-- navbar-End -->
    <div class="container-bottom">
        <nav class="navbar-kappa-End">
            <div class="contrack"></div>
            <a class="navbar-brand" href="homePage.html"></a>
            <img src="https://cdn-icons-png.flaticon.com/512/7116/7116945.png" style="width: 194px; height: 194px;">
        </nav>
    </div>
</body>
</html>
{% endblock%}