<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category List</title>
    <link rel="stylesheet" href="{% static 'list.css' %}">
</head>
<body>
    <!-- Top Navbar -->
    <div class="container-top">
        <nav class="navbar-kappa-start">
            <a class="navbar-brand" href="{%static 'homePage.html' %}">
                <img src="https://cdn-icons-png.flaticon.com/512/7116/7116945.png" style="width: 92px; height: 92px;">
            </a>                                                   
            <div class="search">
                <h1>search</h1>
                <button class="search-icon" type="button">search</button>
            </div>
            <div class="navbar-collapse" id="navbar-collapse">
                <ul class="navbar-li">
                    <li><a href="{%static 'login.html' %}">log-in/Register</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-menu">
        <nav class="navbar-kappa-menu">
            <ul class="navbar-menu-li">
                <a href="/"><li>Home</li></a>
                <a href="list.html"><li>Series</li></a>
                <li class="dropdown-link"><a href="">Category</a>
                    <ul class="dropdown">
                        <!-- add category from backEnd -->
                        {% for category in categories %}
                            <li><a href="{% url 'searchCategory' category.id %}">{{category.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <a href="list.html"><li>Anime</li></a>
                <a href="list.html"><li>List</li></a>
            </ul>
        </nav>
    </div>


    <!-- movie list title -->
    {% for list in movieList|slice:":1"  %}
    <div class="head">
        <h1>| {{list.category}}</h1>
    </div>
    </div>
    <section class="section-category">
        <div class="section-movie-category">
            <!-- {% for list in movieList %} -->
            <div class="movie-picture-category">
                <img src="{{list.image.url}}" alt="{{list.name}}">
                <div class="movie-content-category">
                    <a href="{%url 'player_detail' list.id%}">
                        <h4>{{list.name}}</h4>
                    </a>
                </div>
            </div>
            <!-- {% endfor %} -->
        </div>
    </section>
    {% endfor %}
    
    <!-- pages number -->
    <div class="pages__number">
        <div class="pages__container">
            {% if movieList.paginator.num_pages >= 1%}
                {% for page_number in movieList.paginator.page_range%}
                    <div class="pages" id="number1"><a href="?page={{page_number}}">{{page_number}}</a></div>
                {% endfor%}
            {% endif%}
        </div>
    </div>


    <!-- navbar-End -->
    <div class="container-bottom">
        <nav class="navbar-kappa-End">
            <div class="contrack"></div>
            <a class="navbar-brand" href="homePage.html"></a>
            <img src="https://cdn-icons-png.flaticon.com/512/7116/7116945.png" style="width: 194px; height: 194px;">
        </nav>
    </div>
</body>
</html>