<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch Movie</title>
    <link rel="stylesheet" href="showPlay.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="star.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="comment.css">
</head>
<body>
    <div class="container-top">
        <nav class="navbar-kappa-start">
            <a class="navbar-brand" href="homePage.html">
                <img src="https://cdn-icons-png.flaticon.com/512/7116/7116945.png" style="width: 92px; height: 92px;">
            </a>                                                   
            <div class="search">
                <h1>search</h1>
                <button class="search-icon" type="button">search</button>
            </div>
            <div class="navbar-collapse" id="navbar-collapse">
                <ul class="navbar-li">
                    <li><a href="login.html">log-in/Register</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-menu">
        <nav class="navbar-kappa-menu">
            <ul class="navbar-menu-li">
                <a href="homePage.html"><li>Home</li></a>
                <a href="#"><li>Series</li></a>
                <a href="#"><li>Category</li></a>
                <a href="#"><li>Anime</li></a>
                <a href="#"><li>List</li></a>
            </ul>
        </nav>
    </div>

    <div class="section-watch-movie">
        <div class="player">
            <!-- <video controls>
                <source src="video/Transformers 3 - Dark of the Moon (2011) - Final BattleFull scene (1080p) FULL HD.mp4" type="video/mp4">
            </video> -->
            <div class="teaser">
                <iframe width="450" height="315" src="https://www.youtube.com/embed/ET9SHYzMz_4?si=Tjtt8CkJPuGrcyLb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="like__count">
                <i class="far fa-heart"></i>
                <small class="count">0</small>
            </div>
        </div>
        <div class="detail">
            <div class="name-detail">
                <div class="title"><h2>TRANSFORMERS: DARK OF THE MOON</h2></div>
                <div class="rating-star-staff"> 
                    <div class="btn-rate">
                        <button class="btn-review">review</button>
                    </div>
                    <section class="modal-container">
                        <div class="modal">
                            <div class="container">
                                <div class="post">
                                    <div class="text">Thank for rating us!</div>
                                    <div class="edit">Edit</div>
                                </div>
                                <div class="star-widget">
                                    <input type="radio" name="rate" id="rate-5">
                                    <label for="rate-5" class="fas fa-star"></label>
                                    <input type="radio" name="rate" id="rate-4">
                                    <label for="rate-4" class="fas fa-star"></label>
                                    <input type="radio" name="rate" id="rate-3">
                                    <label for="rate-3" class="fas fa-star"></label>
                                    <input type="radio" name="rate" id="rate-2">
                                    <label for="rate-2" class="fas fa-star"></label>
                                    <input type="radio" name="rate" id="rate-1">
                                    <label for="rate-1" class="fas fa-star"></label>
                                    <form action="#" class="form">
                                        <header></header>
                                        <div class="textarea">
                                            <textarea id="name__star" cols="30" placeholder="Yourname"></textarea>
                                        </div>
                                        <div class="textarea">
                                            <textarea id="comment__star" cols="30" placeholder="Describe your experience..."></textarea>
                                        </div>
                                        <div class="btn">
                                            <button type="submit" class="btn-post">Post</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="top">
                                <form class="form">
                                    <div class="heart__icon center__display">
                                        <i class="far fa-heart"></i>
                                    </div>
                                </form>
                            </div>
                            <div class="div-btn-close">
                                <button class="close-btn">close</button>
                            </div>
                        </div>
                    </section>
                </div>
                <h4>The Autobots race against the Decepticons to reach the Cybertronian spacecraft, which could turn the tide in their final battle.</h4>
                <div class="teaser">
                    <iframe width="450" height="315" src="https://www.youtube.com/embed/ET9SHYzMz_4?si=Tjtt8CkJPuGrcyLb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Comment -->
    <div class="containers center__display">
        <!-- <div class="top">
            <form class="form">
                <div class="heart__icon center__display">
                    <i class="far fa-heart"></i>
                </div> -->
                <!-- <div class="form__info center__display">
                    <input type="text" name="user" id="user" placeholder="--Your User name--">
                    <input type="text" name="comment" id="comment" placeholder="--Comment--">
                </div> -->
                <!-- <button type="submit" class="submit__btn">Submit</button> -->
            <!-- </form> -->
            <!-- <div class="like__count">
                <i class="far fa-heart"></i>
                <small class="count">0</small>
            </div> -->
        <!-- </div> -->
        <div class="comments__containers center__display">
            <!-- <div class="comment__card">
                <div class="pic center__display">
                    A
                </div>
                <div class="comment__info">
                    <small class="nickname">UserNameHere</small>
                    <p class="comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, suscipit?</p>
                    <div class="comment__bottom">
                        <div class="heart__icon--comment">
                            <i class="far fa-heart"></i>
                        </div>
                        <button>Reply</button>
                    </div>
                </div>
            </div> -->
        </div>
    </div>


<!--Recomment-->
    <div class="title-category">
        <p>Recommend</p>
    </div>
    <section class="section-category">
        <div class="section-movie-category">
            <div class="movie-picture-category"></div>
            <div class="movie-content-category">
                <a href="#">
                    <h4>Iron Man3</h4>
                </a>
            </div>
        </div>
        <div class="section-movie-category">
            <div class="movie-picture-category"></div>
            <div class="movie-content-category">
                <a href="#">
                    <h4>Iron Man3</h4>
                </a>
            </div>
        </div>
        <div class="section-movie-category">
            <div class="movie-picture-category"></div>
            <div class="movie-content-category">
                <a href="#">
                    <h4>Iron Man3</h4>
                </a>
            </div>
        </div>
        <div class="section-movie-category">
            <div class="movie-picture-category"></div>
            <div class="movie-content-category">
                <a href="#">
                    <h4>Iron Man3</h4>
                </a>
            </div>
        </div>
    </section>
    <script src="showPlay.js"></script>
    <script src="edit.js"></script>
    <script src="comment.js"></script>
</body>
</html>