<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div id="maincontainer">
        </div>
        <script>
            //Create Header Exercise 04: JavaScript&DOM
            const maincontainer = document.getElementById("maincontainer");
            const header = document.createElement("h2");
            header.textContent = "Exercise 04: JavaScript&DOM"
            maincontainer.appendChild(header)

            //Create Date time and Button Date
            const date__btn = document.createElement("button");
            date__btn.innerHTML = "Click me to display Date and Time";
            maincontainer.appendChild(date__btn);

            const container__dateTime = document.createElement("div")
            container__dateTime.innerHTML = new Date();
            maincontainer.appendChild(container__dateTime)
            container__dateTime.hidden = false
            container__dateTime.style.position = "fixed"
            container__dateTime.style.right = "0"
            container__dateTime.style.top = "0"
            container__dateTime.style.border = "1px solid black"

            //Change Color
            let color = ["red","blue","yellow","green"];
            let start__date__color = [0];
            let changecolor =()=>{
                container__dateTime.style.background = color[start__date__color];
                start__date__color +=1;
                start__date__color %= color.length
            }

            //My Infomation
            const div__info = document.createElement("div")
            const a__info = document.createElement("a")
            a__info.innerHTML = "Personal Info"
            a__info.href = "#"
            div__info.style.marginTop = "50px"
            maincontainer.appendChild(div__info)
            div__info.appendChild(a__info)
            a__info.style.color= "pink"
            a__info.onmouseover =()=>{
                a__info.style.background = "yellow";
                a__info.style.color = "blue"
            };
            a__info.onmouseout =()=>{
                a__info.style.background = "transparent";
                a__info.style.color = "pink"
            };

            //Make Container get ul
            const container__info = document.createElement("div");
            container__info.appendChild(a__info);
            maincontainer.appendChild(container__info)
            let personal__ul__info = document.createElement("ul")

            //Hide and show container ul
            let ulVisible = false;
            a__info.onclick = () => {
                if (ulVisible) {
                    personal__ul__info.style.display = "none";
                } else {
                    personal__ul__info.style.display = "block";
                }
                ulVisible = !ulVisible;
            }

            //Name Subject and semester
            let name = document.createElement("li");
            let subject = document.createElement("li");
            let semester = document.createElement("li");
            name.textContent = "Name: Napasorn Chalanumas, ID : 63010492"
            subject.textContent = "Subject: SOFTWARE STUDIO"
            semester.textContent = "Semester: 1/2566"
            personal__ul__info.appendChild(name)
            personal__ul__info.appendChild(subject)
            personal__ul__info.appendChild(semester)
            container__info.appendChild(personal__ul__info);
            personal__ul__info.style.display = "none";

            //Make Snapshots HEADER
            const snapshot__container = document.createElement("div")
            const snapshot__head = document.createElement("h1")
            snapshot__head.textContent = "Snapshots"
            maincontainer.appendChild(snapshot__container);
            snapshot__container.appendChild(snapshot__head)

            // Make List snapshots
            const containner__snapshot__list = document.createElement("div")
            let snapshot__list = document.createElement("ul")

            // Create an <a> element for each snapshot
            let a1 = document.createElement("a");
            let a2 = document.createElement("a");
            let a3 = document.createElement("a");
            let a4 = document.createElement("a");
            a1.href = "#";
            a2.href = "#";
            a3.href = "#";
            a4.href = "#";
            a1.textContent = "Fireworks";
            a2.textContent = "Crest";
            a3.textContent = "Actions";
            a4.textContent = "Buffalo";
            
            // Add click event listeners to change the image when each link is clicked
            a1.onclick = () => {
                imgURL = "https://static.vecteezy.com/system/resources/previews/007/314/581/non_2x/fire-works-cartoon-concept-background-free-vector.jpg";
                pic.src = imgURL;
            }
            a2.onclick = () => {
                imgURL = "https://c8.alamy.com/comp/GN5GJP/refrigeration-mechanic-leopard-superhero-crest-cartoon-GN5GJP.jpg";
                pic.src = imgURL;
            }
            a3.onclick = () => {
                imgURL = "https://img.freepik.com/premium-vector/kids-jumping-trampoline-cartoon-vector_723224-1871.jpg?w=2000";
                pic.src = imgURL;
            }
            a4.onclick = () => {
                imgURL = "https://static.vecteezy.com/system/resources/previews/003/442/627/non_2x/buffalo-cartoon-illustrations-free-vector.jpg";
                pic.src = imgURL;
            }
            
            // Append the <a> elements to the list
            snapshot__list.appendChild(a1);
            snapshot__list.appendChild(a2);
            snapshot__list.appendChild(a3);
            snapshot__list.appendChild(a4);
            maincontainer.appendChild(containner__snapshot__list);
            containner__snapshot__list.appendChild(snapshot__list);

            // Create an <img> element for displaying images
            const pic = document.createElement("img");
            let imgURL = "https://img.freepik.com/free-vector/cute-cat-yoga-pose-cartoon-illustration_138676-2791.jpg?w=2000"
            pic.src = imgURL;
            pic.style.display = "block";
            pic.style.width = "500px"
