/*make navbar*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background-color: rgb(0, 0, 0,1);
    /* background-color: rgb(202, 202, 155); */
}

.navbar-kappa-start{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.search{
    display: flex;
    justify-content: space-between;
}

.search h1{
    color: white;
    font-size: 36px;
}

.navbar-li{
    list-style: none;
    color: rgba(229, 196, 79, 1);
    font-size: 24px;
    text-decoration: none;
}

.container-top{
    background-color: rgba(48, 45, 45, 1);
    width: 100%;
    height: 93px;
}

.navbar-menu-li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: rgb(0, 0, 0,1);
    height: 72px;
    border: 1px solid gray;
}


.navbar-menu-li li{
    list-style: none;
    color: rgba(229, 196, 79, 1);
    font-size: 24px;
    text-decoration: none;
}

/*DropDown*/
.dropdown a{
    text-decoration: none;
    transition: 0.2s;
    width: 100%;
}

.dropdown a:hover{
    background-color: gray;
}

.dropdown li{
    display: flex;
    position: relative;
}

.dropdown{
    position: absolute;
    display: block;
    background-color: white;
    top: 140px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}

.dropdown-link:hover .dropdown{
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}

/*title*/
.head{
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-left: 2%;
    margin-top: 2%;
}

/*Movie List*/
.section-category{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-size: cover;
    flex-wrap: wrap;
}
.section-movie-category{
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

.movie-picture-category {
    position: relative;
    width: 400px; /* กว้างเต็มจอ */
    height: 25vh; /* สูงเต็มจอ */
    background-size: cover; /* แสดงภาพเต็มจอและครอบคลุมพื้นที่ .movie-picture */
    background-position: center;
    background-color: black; /* สีพื้นหลังถ้าภาพไม่เต็มจอ */
    margin: 20px;
}

.movie-picture-category img{
    width: 100%;
    height: 100%;
}

.movie-content-category{
    width: 100%;
    position: absolute;

}

.movie-content-category h4 {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    width: 100%;
    color: rgb(0, 0, 0,1);
    position: absolute;
    bottom: 100px;
    display: flex;
    left: 0;
    bottom: 0;
    opacity: 0.7;
    font-size: 24px;
    padding: 10px;
}

.movie-content-category h4 {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    width: 100%;
    color: rgb(0, 0, 0,1);
    position: absolute;
    bottom: 100px;
    display: flex;
    left: 0;
    bottom: 0;
    opacity: 0.7;
    font-size: 24px;
    padding: 10px;
}

/*Pages Number*/
.pages__number{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.pages__container{
    padding: 1%;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid gray;
}

.pages{
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: solid 1px gray;
    margin-left: 2.5%;
    margin-right: 2.5%;
    /* padding: 2%; */
}

/*navbar End*/
.navbar-kappa-End{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 5%;
}

.container-bottom{
    background-color: rgba(48, 45, 45, 1);
    width: 100%;
    height: 195px;
}