*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background-color: rgb(0, 0, 0,1);
}

.navbar-kappa-start{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.search{
    display: flex;
    justify-content: space-between;
}

.search h1{
    color: white;
    font-size: 36px;
}

.navbar-li{
    list-style: none;
    color: rgba(229, 196, 79, 1);
    font-size: 24px;
    text-decoration: none;
}

.container-top{
    background-color: rgba(48, 45, 45, 1);
    width: 100%;
    height: 93px;
}

.navbar-menu-li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: rgb(0, 0, 0,1);
    height: 72px;
    border: 1px solid gray;
}


.navbar-menu-li li{
    list-style: none;
    color: rgba(229, 196, 79, 1);
    font-size: 24px;
    text-decoration: none;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(https://cdn-icons-png.flaticon.com/512/7116/7116945.png);
    background-size: 60vh 60vh; /* ปรับขนาดภาพให้ครอบคลุมพื้นที่ .container */
    background-position: right bottom; /* จัดตำแหน่งภาพกลางพื้นที่ .container */
    background-repeat: no-repeat;
}

.container h1{
    color: white;
    display: flex;
}

.box-login-register{
    background-color: rgba(216, 209, 187, 0.7);
    height: 70vh;
    width: 62vh;
    border-radius: 40px;
}

input::placeholder{
    color: rgb(170, 166, 166);
}

.title-login h1{
    margin: 5vh;
    font-size: 60px;
    color: white;
}

.Add-login-password{
    margin: 0;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.Add-login-password input{
    width: 92%;
    height: 5vh;
    margin: 1.0vh;
    border-radius: 12px;
    border: none;
    outline: none;
    padding: 2vh;
    color: white;
    background-color: rgba(117, 108, 108, 1);
}

input::placeholder{
    color: rgb(170, 166, 166);
}



.container-password{
    margin: 4vh;
    margin-bottom: 1vh;
    padding: 1vh;
    border-radius: 15px;
    background-color: rgba(117, 108, 108, 1);
    color: white;
}

.container-repassword{
    margin-right: 4.5vh;
    text-align: right;
}

.container-repassword a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.submit-login-signUp{
    margin-top: 10vh;
    width: 100%;
    height: 1.5rem;
}

.btn-login{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: auto  ;
    width: 100%;
    height: 3rem;
}

.btn-login button{
    font-size: 24px;
    border-radius: 15px;
    margin: 4vh;
    width: 100%;
    height: 100%;
    background-color: rgba(188, 183, 159, 1);
    border: none;
    color: white;
}

.sign-in{
    display: flex;
    margin: 2.5vh;
    justify-content: center;
}

.sign-in h4{
    color: white;
    font-size: 20px;
}

.sign-in a{
    color: rgba(229, 196, 79, 1);
    font-size: 20px;
}

.container-bottom{
    background-color: rgba(48, 45, 45, 1);
    width: 100%;
    height: 195px;
}

.navbar-kappa-End{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.navbar-brand{
    text-align: right;
}